{% extends 'GesEnquiryBundle::default_layout.html.twig' %}

{% block body -%}
    <h1>EnquiryType creation</h1>
    <a href="{{ path('enquirytype') }}" class="btn">
        Back to the list
    </a>
    <hr>
    <form action="{{ path('enquirytype_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>


{% endblock %}
